body {
  background-image: url("https://play-lh.googleusercontent.com/EmrK8BpaVWXsbTlw92s4Np1OrJ2rxyC7I3eU3l2BQGD3IOFsBD0SrV-1YV4yGVPHli2O=w3840-h2160-rw");
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  margin-top: 10%;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border-radius: 30px;
  border: 15px double #8bbcbbff;
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(168, 247, 233);
  justify-content: space-around;
  align-items: flex-start;
}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 30px;
  border: 15px double #8bbcbbff;
}

h2{
  color:rgb(237, 31, 189) ;
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}
triangle